input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.container{
	 padding-top: 40px;
}

#noco{
	  background-color: skyblue;
}

#co{
	  background-color: skyblue;
}




input {
   
	 height:20px;
     padding: 1px;
	
   }
.row{

	border :1px solid black;
}

.col{
	
	border :1px solid black;
}

label {
	size:1px;
}

th{
    background-color: black;
    color: white;
}

caption{
    padding-top: 1px;
    font-style: italic;
}

table,td{
	
  border :1px solid black;
	border-collapse :collapse;
	padding:1px;
	
}
th{
	width:40px;
}



